<!--  <div class="bg-gray-700 rounded-xl px-4 py-2">-->
<!--        <p-chart class="w-full h-1/2" type="line" [data]="data" [options]="options"></p-chart>-->
<!--  </div>-->
<!--<div class="bg-gray-700 rounded-xl px-4 py-2 mb-4">-->
<!--  <p-chart class="w-full h-1/2" type="line" [data]="temperatureData" [options]="commonOptions"></p-chart>-->
<!--</div>-->

<!--<div class="bg-gray-700 rounded-xl px-4 py-2 mb-4">-->
<!--  <p-chart class="w-full h-1/2" type="line" [data]="precipitationData" [options]="commonOptions"></p-chart>-->
<!--</div>-->

<!--<div class="bg-gray-700 rounded-xl px-4 py-2">-->
<!--  <p-chart class="w-full h-1/2" type="line" [data]="windData" [options]="commonOptions"></p-chart>-->
<!--</div>-->
  <div class="bg-gray-700 rounded-xl px-4 py-2 max-h-[500px]">
    <p-chart class="w-full" height="150px" type="bar" [data]="chartData" [options]="commonOptions"></p-chart>
  </div>
